/************ Roboto Font Import *************/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/******** Poppin Font Import ***********/

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  

  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }


/********** General ***********/
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    font-family: 'Poppins', sans-serif;
}

header
{
    padding: 40px;
}

/********** Navbar ***********/

.navbar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0 30px 0;
    position: relative;
}

.navbar__title--img
{
    width: 31.26px;
    height: 29px;
    display: inline;
}

.navbar__title--text
{
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.03em;
}

.navbar li
{
    display: inline;
    margin: 0 20px;
}

.navbar a
{
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #242323;
    text-decoration: none;
}

.navbar__button--signup
{
    width: 134px;
    height: 62px;
    border-radius: 7px;
    font-size: 22px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.03em;
    color: #FEFEFE;
    background-color: black;
    cursor: pointer;
}

.navbar__button--mobile-nav
{
    display: none;
    width: 31.26px;
    height: 100%;
    background-color: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.navbar__mobile-view--inactive
{
    display: none;
}

@media screen and (max-width: 1002px)
{
    .navbar
    {
        justify-content: space-between;
    }
    .navbar__button--mobile-nav
    {
        display: inline;
    }

    .navbar__links
    {
        display: none;
    }

    .navbar__title--text
    {
        text-align: center;
    }

    .navbar__mobile-view--active ul
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 50%;
        right: 0;
        width: 50%;
        background-color: #F4F6F5;
        border: 1px solid #D9D9D9;
        z-index: 1;
    }
    
    .navbar__mobile-view--active ul li
    {
        padding: 20px 0;
        width: 100%;
        border: 1px solid #D9D9D9;
        text-align: center;
    }

    .navbar a
    {
        font-size: 16px;
    }

    .navbar__button--signup
    {
        font-size: 16px;
        width: 100%;
    }
}

/********** Header Banner ***********/
.header-banner
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: #F4F6F5;
    border-radius: 59px;
    margin-top: 10px;
    padding: 40px;
}

.header-banner__content
{
    max-width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.header-banner__content--main-text
{
    font-size: 6vw;
    font-weight: 900;
}

.header-banner__content--sub-text
{
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.05em;
    color: #191818;
    margin: 20px 0;
}

.header-banner__picture
{
    position: relative;
    width: 50%;
}

.header-banner__picture--main
{
    width: 100%;
}

.header-banner__picture--stars1
{
    position: absolute;
    top: 1%;
    left: 0;
}

.header-banner__picture--stars2
{
    position: absolute;
    top: 10%;
    left: 75%;
}

.header-banner__picture--stars3
{
    position: absolute;
    bottom: 2.5%;
    left: 5%;
}

.header-banner__picture--stars4
{
    position: absolute;
    bottom: 10%;
    left: 90%;
}

.header-banner__content--text-bg1, .header-banner__content--text-bg2
{
    position: relative;
    z-index: 0;
}

.header-banner__content--text-bg1::before
{
    content: '';
    background-color: transparent;
}

.header-banner__content--text-bg1::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #FFF;
    transform: rotate(-2deg);
}

.header-banner__content--text-bg2::before
{
    content: '';
    background-color: transparent;
}

.header-banner__content--text-bg2::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #E6C744;
    transform: rotate(-2deg);
}

.header-banner__button
{
    width: 221px;
    height: 82px;
    border-radius: 10px;
    
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    letter-spacing: -0.05em;
    color: #FEFEFE;
    background-color: black;
    cursor: pointer;
}

@media screen and (max-width: 1002px)
{
    .header-banner
    {
        flex-direction: column-reverse;
    }

    .header-banner__button
    {
        max-width: 100%;
    }

    .header-banner__content--sub-text
    {
        text-align: center;
    }

    .header-banner__content
    {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .header-banner__picture
    {
        width: 100%;
    }

    .header-banner__picture--stars1, .header-banner__picture--stars2, .header-banner__picture--stars3, .header-banner__picture--stars4
    {
        width: 10%;
    }

    .header-banner__content--sub-text
    {
        font-size: 24px;
    }

    .header-banner__button
    {
        font-size: 18px;
    }
}

/********** Footer ***********/

.footer
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 40px;
}

.footer__details--name
{
    font-size: 40px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer__details--description
{
    color: #8E8E8E;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.02em;
    padding: 30px 0;
    width: 75%;
}

/* .footer__details--icons
{
    display: flex;
    flex-direction: row;
    justify-content: center;
} */

.footer__details--icons a
{
    padding: 0 10px;
}

.footer__details--icons a:first-child
{
    padding-left: 0;
}

.footer__details--icons a:last-child
{
    padding-right: 0;
}

.footer__links
{
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.footer__links div
{
    padding: 30px;
}

.footer__links--title
{
    color: #D9D9D9;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.02em;
    padding: 20px 0;
}

.footer__links a
{
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #8E8E8E;
    text-decoration: none;
    padding: 20px 0;
    width: 100%;
    display: block;
}

.footer__links a:hover
{
    color: #D9D9D9;
}

@media screen and (max-width: 1002px)
{
    .footer
    {
        flex-direction: column;
    }

    .footer__details--name
    {
        text-align: center;
    }

    .footer__details--description
    {
        text-align: center;
        width: 100%;
    }

    .footer__details--icons
    {
        text-align: center;
    }

    .footer__links
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

/********** Brand (Static) ***********/
.brand
{
    background-color: #EBD96B;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 40px;
}

@media screen and (max-width: 1002px)
{
    .brand
    {
        flex-direction: column;
    }

    .brand img
    {
        margin: 20px 0;
        padding: 0px;
    }
}

/****** Brand (Dynamic) ******/
.brand-dynamic
{
    background-color: #EBD96B;
    padding: 40px;
}

/********** New Arrivals ***********/

.new-arrival
{
    display: flex;
    flex-direction: column;
    
    /* padding: 40px; */
}

.new-arrival__heading
{
    position: relative;
    padding: 40px 40px 0px 40px;
    /* display: flex; */
}

.new-arrival__heading--shade
{
    position: absolute;
    z-index: -1;
    top: 55%;
    left: 8%;
    /* left: 260px;
    top: 65px; */
}

.new-arrival__heading--text
{
    font-size: 2vw;
    font-weight: 900;
    line-height: 50px;
    letter-spacing: 0.06em;
}

.new-arrival__collection
{
    padding: 20px;
}

.new-arrival__collection > img
{
    max-width: 100%;
    height: 100%;
}

.new-arrival__collection-list
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.new-arrival__content
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-arrival__content--main-text
{
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #191919;
}

.new-arrival__content--sub-text
{
    font-size: 24px;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #7F7F7F;
}

@media screen and (max-width: 1002px)
{
    .new-arrival
    {
        justify-content: center;
        align-items: center;
    }

    .new-arrival__collection-list
    {
        flex-direction: column;
    }

    .new-arrival__heading--text
    {
        font-size: 5vw;
    }

    .new-arrival__content--main-text
    {
        font-size: 24px;
    }

    .new-arrival__content--sub-text
    {
        font-size: 18px;
    }

    .new-arrival__heading--shade
    {
        width: 30%;
    }

    .new-arrival__heading--shade
    {
        top: 70%;
        left: 60%;
    }

    /* .new-arrival__heading
    {
        justify-content: center;
        align-items: center;
    } */
}

/********** Payday ***********/
.payday
{
    background-image: linear-gradient(1.32deg, #E0C340 0.13%, #DFC23E 3.97%, #E1C441 7.2%, #E3C743 10.13%, #E4C542 12.98%, #E6C744 15.99%, #E7C845 19.52%, #E5C643 23.96%, #E6C945 30.43%, #E3C743 36.49%, #E9CA48 42.49%, #EDCE49 49.35%, #F0D44C 55.42%, #F4D84F 61.43%, #F6DA52 65.74%, #F7DB53 72.23%, #F9DD55 77.43%, #F9DF56 83.84%, #FAE157 91.52%, #F9DF56 97.87%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payday__content
{
    max-width: 50%;
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.payday__content--text-bg
{
    position: relative;
    z-index: 2;
}

.payday__content--text-bg::before
{
    content: '';
    background-color: transparent;
}

.payday__content--text-bg::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    z-index: -1;
    background-color: #FFF;
    transform: rotate(-2deg);
}

.payday__content--bg
{
    position: absolute;
    z-index: -1;
    left: -2.5%;
    top: -1%;
    width: 100%;
}

.payday__content--heading
{
    font-size: 6vw;
    font-weight: 900;
    color: #000000;
}

.payday__content--description
{
    font-size: 36.04px;
    font-weight: 500;
    line-height: 52.32px;
    letter-spacing: -0.02em;
    color: #231300;
    padding: 30px 0;
}

.payday__content--time-text
{
    font-size: 36.04px;
    font-weight: 700;
    line-height: 52.32px;
    letter-spacing: 0.02em;
    color: #000000;
}

.payday__content--condition-text
{
    font-size: 36.04px;
    font-weight: 400;
    line-height: 52.32px;
    letter-spacing: -0.02em;
    color: #000000;
    padding: 0 0 30px 0;
}

.payday__picture
{
    position: relative;
    max-width: 50%;
}

.payday__picture--main
{
    width: 100%;
}

.payday__picture--stars1
{
    position: absolute;
    top: 15%;
    left: 10%;
}

.payday__picture--stars2
{
    position: absolute;
    top: 10%;
    left: 75%;
}

.payday__picture--stars3
{
    position: absolute;
    bottom: 40%;
    left: 20%;
}

.payday__picture--stars4
{
    position: absolute;
    bottom: 25%;
    left: 80%;
}

.payday button
{
    width: 265.62px;
    height: 95.33px;
    max-width: 100%;
    border-radius: 8.14px;
    font-size: 27.9px;
    font-weight: 600;
    line-height: 41.85px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    background: #000000;
    cursor: pointer;
}

@media screen and (max-width: 1002px)
{
    .payday
    {
        flex-direction: column;
    }

    .payday__content, .payday__picture
    {
        max-width: 100%;   
    }

    .payday__content
    {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .payday__content--description, .payday__content--time-text, .payday__content--condition-text
    {
        font-size: 24px;
    }

    .payday__picture--stars1, .payday__picture--stars2, .payday__picture--stars3, .payday__picture--stars4
    {
        width: 10%;
    }

    .payday--picture--main
    {
        width: 100%;
    }

    .payday button
    {
        max-width: 100%;
        font-size: 24px;
    }

    .payday__content--text-bg::after
    {
        width: 100%;
    }
}